* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body {
    background: #E9D431;
    width: 100%;
    text-align: center;
}

.nav-bar_container {
    width: 100%;
    height: 15%;
    background: #1E1C1C;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 300;
}

.nav-bar_container img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.8s;
}



.nav-bar_container img:hover {
    transform: scale(1.2);
}

.nav-bar_a a {
    color: #E9D431;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    display: flex;
}

.nav-bar_a:hover {
    border-bottom: #E9D431 solid 2px;

}
.nav-bar ul {
    display: flex;
    gap: 35px;
    font-size: 20px;
}

.nav-bar_container i {
    color: #E9D431;
    width: 40px;
}

ul {
    list-style: none;
}

.nav-bar_redes {
    display: flex;
    gap: 5px;
    font-size: 20px;
}
.nav-bar_redes i {
    transition: 1s;
    
}
.nav-bar_redes i:hover {
    transform: scale(1.3);
}
.fondo {
    width: 100%;
    height: 730px;
    background: url(../Img/Primerfondo.png) center center/cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    
}


.burger-container {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;

}

.burger-texto img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: 400px;
    margin: 0 auto;
    display: block;
}


.burger-target_container {
    width: 85%;
    margin: auto;
    height: 100%;  
}

.burger-target {
    width: 16%;
    height: 260px;
    margin: 20px 10px;
    transition: 0.8s;
    min-width: 160px;
}
.burger-target img {
    width: 90%;
    height: 55%;
    margin: 10px 20px;
}
.burger-target_info {
    width: 100%;
    height: 100%;
    margin: auto;
    color: #000;
}

.burger-target_container h1 {
    font-size: 30px;
}

.burger-target_container p {
    font-size: 15px;
}


.burger-target:hover {
    transform: scale(1.2);
}


.vegan {
    width: 70%;
    margin: 100px auto;
    background: #206e52;
    color: #fff;
    font-size: 50px;
    border: 12px solid #FFF;
    border-radius: 25px;
    padding: 65px;

}

.vegan i {
    font-size: 80px;
}

.extras-container {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
.extras-target {
    width: 25%;
    height: 200px;
    margin: 20px 10px;
    min-width: 200px;
}
.extras-target img {
    width: 100%;
    height: 100%;
    margin: 10px 20px;
    transition: 0.9s;
}
.extras-target img:hover {
    transform: scale(1.2);
}


.bebidas-container {
    width: 100%;
    height: 100%;
    background: url(../Img/cervezafondo.jpg) center center/contain;
    margin-bottom: 50px;
}

.bebidas-target_container {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bebidas-target {
    margin: auto;
    width: 33.333%;
    padding: 10px;
    height: 50%;
}

.bebidas-target img {
    width: 100%;
    height: 100%;
    transition: 0.9s;
}

.bebidas-target img:hover {
    transform: scale(1.15);
}


.tragos-container {
    margin-top: 40px;
    margin-bottom: px;
    width: 100%;
    margin: auto;
}

.tragos-target_container {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.tragos-target {
    background: url(../Img/Gintonic.jpg) no-repeat center center/cover;
    width: 29%;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    background-size: 280px;
    min-width: 200px;
}

.tragos-target:hover {
    background-size: 330px;
}



.sucursales-container {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.sucursales-container a {
    color: #000;
    text-decoration: none;
    border: #000 solid 2px;
    padding: 5%;
    font-size: 150%;
    width: 100%;
    border-radius: 15px;
    transition: 1s;
}
.sucursales-target a:hover {
    color: #E9D431;
    background: #000;
}

.sucursales-target h1 {
    font-size: 180%;
}

.sucursales-container i {
    margin-right: 7px;
    font-size: 20px;
}

.sucursales-target_container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: auto;
}

.sucursales-target {
    margin: 10px auto;
    padding: 1%;
    width: 25%;
    height: 25%;
    display: grid;
    min-width: 200px;
}



.nosotros-target1_container {
    display: flex;
}
.nosotros-target1_img img{
    height: 100%;
}
.nosotros-target1_info {
    padding: 20px;
    font-size: 30px;
    margin: auto;
}
.nosotros-target2_container {
    display: flex;
    margin-bottom: 100px;
}
.nosotros-target2_info {
    padding: 20px;
    font-size: 30px;
    margin: auto;
}



.taxibanda {
    width: 100%;
    height: 30px;
    background: url(../Img/taxibanda.png) center center/contain;

}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
}



.footer-container {
    background: #000;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer ul,
.footer a {
    margin: 5px 10px;
    display: flex;
}

.footer-container img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    transition: 0.8s;
}
.footer-container img:hover {
    transform: scale(1.2);
}

.footer-info a {
    padding: 10px;
}

.footer-info a,
.footer a {
    color: #FFF;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    transition: 0.8s;
}

.footer-info i{
    transition: 0.8s;
}

.footer-info i:hover {
    transform: scale(1.3);
    color: #E9D431;
}

.footer a:hover {
    transform: scale(1.2);
    color: #E9D431;    
}


@media screen and (max-width:1200px) {
    .burger-target_info h1 {
        font-size: 25px;
    }   

    .vegan {
        width: 70%;
        font-size: 200%;
        padding: 5%;
        border: #fff solid 10px;
    }

    .vegan i {
        font-size: 220%;
    }
    .nosotros-target_container img {
        width:100%;
    }
    .nosotros-target1_info , .nosotros-target2_info {
        width: 50%;
    }
}
@media screen and (max-width:1100px) {
    .nav-bar_container a{
        font-size: 15px;
    }
    .nav-bar_container img{
        width: 15%;
        height: 80%;
    }
    .burger-target_info h1 {
        font-size: 20px;
    }
    .tragos-target {
        background-size: 280px;
        width: 180px;
        min-width: 180px;
    }
    .tragos-target:hover {
        background-size: 320px;
    }
}

@media screen and (max-width:880px) {
    .nav-bar_container a{
        font-size: 13px;
        padding: 0;
    }
    .nav-bar_container img{
        width: 14%;
        height: 75%;
    }
    .burger-target_info h1 {
        font-size: 20px;
    }    
    .vegan {
        width: 80%;
        font-size: 150%;
        padding: 5%;
        border: #fff solid 9px;
    }

    .vegan i {
        font-size: 190%;
    }
    .tragos-target {
        background-size: 280px;
        width: 180px;
        min-width: 150px;
    }
    .tragos-target:hover {
        background-size: 320px;
    }
    .nosotros-target1_info , .nosotros-target2_info {
        font-size: 17px;
    }
}


@media screen and (max-width:700px) {
    .nav-bar_container{
        height: 450px;
        width: 100%;
        position: static;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    } 
       .nav-bar_container img {
        width: 90%;
        height: 90%;
        z-index: 100;
        grid-column: 1/2;
        margin-bottom: 2px;
    }
    .nav-bar ul {
        flex-direction: column;
        gap: 10px;
        z-index: 200;
    }
    .nav-bar a {
        font-size: 18px;
    }

    .nav-bar {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .nav-bar a {
        justify-content: center;
    }
    .nav-bar_redes{
        grid-column: 3/4;
        position: relative;
        left: 80px;
    }
    .nav-bar_redes a {
        font-size: 20px;
    }
    .espaciados {
        display: none;
    }

    .vegan {
        width: 90%;
        font-size: 130%;
        padding: 5%;
        border: #fff solid 8px;
    }

    .vegan i {
        font-size: 150%;
    }
    .extras-target img {
        height: 85%;
        width: 85%;
    }
    .bebidas-target_container {
        width: 80%;
    }
    
    .bebidas-container {
    width: 100%;
    height:  300px;
    background-size: cover;
    margin-bottom: 50px;
}
.tragos-target {
    background-size: 270px;
    width: 150px;
    min-width: 130px;
}
.tragos-target:hover {
    background-size: 310px;
}
.nosotros-target1_info , .nosotros-target2_info {
    font-size: 15px;
    padding: 10px;
}
}
@media screen and (max-width:600px) {
    .nav-bar_container img {
        position: relative;
        left: 20px;

    }
    .nav-bar_container a{
        font-size: 20px;
    }
    .nav-bar_redes{
        position: relative;
        left: 40px;
    }
    .extras-target {
        min-width: 180px;
        min-height: 180px;
        height: 150px;
        margin: 0;
    }
    .extras-target img {
        height: 70%;
        width: 90%;
    }
    .tragos-target {
        background-size: 240px;
        width: 130px;
        height: 320px;
        min-width: 100px;
    }
    .tragos-target:hover {
        background-size: 280px;
    }

    .nosotros-target1_info , .nosotros-target2_info {
        font-size: 15px;
        width: 60%;
    }

}
@media screen and (max-width:500px) {
    .nav-bar_container {
        height: 300px;
        grid-template-rows: 1fr 1fr 20px;
    }
    .nav-bar_container img {
        position: relative;
        left: 0px;
        width: 80%;
        height: 65%;

    }
    .nav-bar_container a{
        font-size: 18px;
    }
    .nav-bar_redes{
        position: relative;
        left: 20px;
    }
    
    .burger-texto img{
        height: 300px;
    }
    .burger-target_container {
        width: 95%;
    }
    
    .burger-target {
        width: 40%;
        height: 150px;
        margin: 10px 5px;
        min-width: 100px;
        gap: 5px;
    }
    .burger-target img {
        width: 80%;
        height: 70%;
        margin: 10px 20px;
    }
    
    .burger-target_container h1 {
        font-size: 20px;
    }
    
    .burger-target_container p {
        font-size: 10px;
    }
    .extras-target {
        min-width: 150px;
        min-height: 150px;
    }
    .extras-target img {
        height: 70%;
        width: 90%;
    }

    .bebidas-target_container {
        width: 85%;
    }   

    .tragos-target_container {
        width: 90%;
    }
    .tragos-target {
        background-size: 190px;
        width: 120px;
        height: 280px;
        min-width: 80px;
    }
    .tragos-target:hover {
        background-size: 220px;
    }
    .sucursales-container {
        width: 90%;
    }
    .sucursales-target {
        margin: 10px auto;
        width: 25%;
        height: 20%;
        min-width: 150px;
    }
    .nosotros-target1_info , .nosotros-target2_info {
        font-size: 12px;
        width: 100%;
    }


    .footer a {
        font-size: 15px;
    }
    .footer-info a {
        font-size: 18px;
    }
}
@media screen and (max-width:450px) {
    .vegan {
        width: 90%;
        font-size: 110%;
        padding: 4%;
        border: #fff solid 5px;
    }

    .vegan i {
        font-size: 140%;
    }
    
}

@media screen and (max-width:400px) {
    .extras-target {
        min-width: 100px;
        min-height: 100px;
    }
    .extras-target img {
        height: 70%;
        width: 90%;
    }
    .bebidas-target_container {
        width: 90%;
    }
    .bebidas-target img {
        width: 100%;
        height: 70%;
    }
    .tragos-target_container {
        width: 80%;
    }
    .tragos-target {
        background-size: 140px;
        width: 90px;
        height: 200px;
        min-width: 40px;
    }
    .tragos-target:hover {
        background-size: 180px;
    }
    .tragos-texto img {
        width: 80%;
    }
    .texto-sucursales img{
        width: 90%;
    }
    .nosotros-texto img {
        width: 90%;
    }
    .nosotros-target1_container {
        flex-direction: column;
    }
    .nosotros-target2_container {
        flex-direction: column-reverse;
    }
    .nosotros-target1_info , .nosotros-target2_info {
        font-size: 16px;
        padding: 0;
        width: 90%;
    }
}

@media screen and (max-width:300px) {
    .burger-texto img {
        width: 100%;
    }
    .burger-target_container {
        width: 98%;
    }
    
    .burger-target {
        width: 32%;
        height: 110px;
        margin: 20px 2px;
        min-width: 80px;
    }
    .burger-target_info h1 {
        font-size: 10px;
    }
    .vegan {
        width: 95%;
        font-size: 70%;
        padding: 2%;
        border: #fff solid 5px;
    }

    .vegan i {
        font-size: 120%;
    }
    .extras-target {
        min-width: 70px;
        min-height: 70px;
    }
    .extras-target img {
        height: 75%;
        width: 100%;
    }
    .bebidas-target img {
        width: 90%;
        height: 60%;
    }
    .tragos-target_container {
        width: 90%;
    }
    .tragos-target {
        background-size: 130px;
        width: 80px;
        height: 190px;
        min-width: 50px;
    }
    .tragos-target:hover {
        background-size: 150px;
    }
    .sucursales-container {
        width: 100%;
    }
    .sucursales-target {
        width:  80%;
        height: 20%;
        min-width: 50px;
    }
    .footer a {
        font-size: 10px;
    }
    .footer-info a {
        font-size: 14px;
    }
    .nosotros-target1_info , .nosotros-target2_info {
        font-size: 14px;
        width: 96%; 
    }
}
