.nosotros-target1_container {
    display: flex;
    .nosotros-target1_img {
        width: 60%;
        img {
        height: 100%;
        width: 100%;
    }
    }
    .nosotros-target1_info {
        padding: 20px;
        font-size: 30px;
        margin: auto;
        width: 40%;
        p {
            font-size: 25px;
        }
    }
}


.nosotros-target2_container {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    .nosotros-target2_img {
        width: 60%;
        img {
        height: 100%;
        width: 100%;
    }
    }
    .nosotros-target2_info {
        padding: 20px;
        font-size: 30px;
        margin: auto;
        width: 50%;
        p {
            font-size: 25px;
        }
    }
}
