@media screen and (max-width:1400px) {
    .nosotros-target_container{
        .nosotros-target1_info {
            p {
                font-size: 24px;
            }
        }
        .nosotros-target2_info {
            p {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .vegan {
        width: 70%;
        font-size: 200%;
        padding: 5%;
        border: #fff solid 10px;
        i {
            font-size: 220%;
        }
    }

    .nosotros-target_container{
        img {
            width:100%;
        }
        .nosotros-target1_info {
            width: 50%;
            p {
                font-size: 22px;
            }
        }
        .nosotros-target2_info {
            width: 50%;
            p {
                font-size: 22px;
            }
        }
    }
    .tragos-container {
        .tragos-target_container {
            width: 80%;
            .tragos-target1, .tragos-target2,.tragos-target3, .tragos-target4, .tragos-target5, .tragos-target6{
                width: 25%;
                min-width: 180px;
            }
            .tragos-target5{
                background-size: 300px;
                &:hover {
                    background-size: 330px;
                }
            }
            .tragos-target3{
                background-size: 350px;
                &:hover {
                    background-size: 400px;
                }
            }
            .tragos-target1,.tragos-target4,.tragos-target6{
                background-size: 400px;
                &:hover {
                    background-size: 430px;
                }
            }
        }
    }
}


@media screen and (max-width:1100px) {
    .nav-bar_container {
        a{
            font-size: 18px;
        }
        img{
            width: 18%;
            height: 80%;
        }
    }
}  

