@media screen and (max-width:500px) {
    .nav-bar_container {
        height: 300px;
        grid-template-rows: 1fr 1fr 20px;
        img {
            position: relative;
            left: 0px;
            width: 80%;
            height: 65%;
        }
        a{
        font-size: 18px;
    }
    .nav-bar_redes{
        position: relative;
        left: 20px;
    }
    }
    .burger-container {
        .burger-texto{
            img{
                height: 300px;
            }
        }
        .burger-target_container {
            width: 95%;
            p {
                font-size: 10px;
            }
            h1 {
                font-size: 20px;
            }
        
            .burger-target {
                width: 40%;
                height: 150px;
                margin: 10px 5px;
                min-width: 100px;
                gap: 5px;
                img {
                    width: 80%;
                    height: 70%;
                    margin: 10px 20px;
                }
            }
        }
    }

    .extras-container {
        width: 90%;
        .extras-target {
            min-width: 160px;
            min-height: 160px;
            img {
                height: 70%;
                width: 90%;
            }
        }
    }


    .bebidas-container {
        .bebidas-target_container {
            width: 85%;
        }   
    }    

    .tragos-container {
        .tragos-target_container {
            width: 90%;
            .tragos-target1, .tragos-target2,.tragos-target3, .tragos-target4, .tragos-target5, .tragos-target6 {
                width: 140px;
                height: 260px;
                min-width: 80px;
            }
            .tragos-target5{
                background-size: 220px;
                &:hover {
                    background-size: 260px;
                }
            }
            .tragos-target2{
                background-size: 200px;
                &:hover {
                    background-size: 240px;
                }
            }
            .tragos-target3{
                background-size: 240px;
                &:hover {
                    background-size: 300px;
                }
            }
            .tragos-target1,.tragos-target4,.tragos-target6{
                background-size: 280px;
                &:hover {
                    background-size: 320px;
                }
            }
        }
    }



    .sucursales-container {
        width: 95%;
        .sucursales-target_container {
            .sucursales-target {
                margin: 10px auto;
                width: 25%;
                height: 20%;
                min-width: 150px;
            }
        }
    }


    .nosotros-target1_container {
        .nosotros-target1_info {
            font-size: 12px;
            width: 100%;
        }
    }
        .nosotros-target2_container {
        .nosotros-target2_info {
            font-size: 12px;
            width: 100%;
        }
    }
    footer {
        .footer-container {
            .footer{
                a {
                    margin: 5px 6px;
                    font-size: 14px;
                }
            }
            .footer-info{
                a {
                    font-size: 17px;
                }
            }        
        }
    }
}



@media screen and (max-width:450px) {
    .vegan {
        width: 90%;
        font-size: 110%;
        padding: 4%;
        border: #fff solid 5px;
        i {
            font-size: 140%;
        }
    }


    
}


@media screen and (max-width:400px) {
    .extras-container {
        .extras-target {
            min-width: 100px;
            min-height: 100px;
            img {
                height: 70%;
                width: 90%;
            }
        }
    }


    .bebidas-container {
        .bebidas-target_container {
            width: 90%;
            .bebidas-target{
                img {
                    width: 100%;
                    height: 70%;
                }
            }
        }        
    }
    
    .tragos-texto{
        img {
            width: 80%;
        }
    }

    
    .tragos-container{
        .tragos-target_container {
            width: 95%;
            .tragos-target1, .tragos-target2,.tragos-target3, .tragos-target4, .tragos-target5, .tragos-target6 {
                width: 100px;
                height: 230px;
                min-width: 80px;
            }
            .tragos-target5{
                background-size: 180px;
                &:hover {
                    background-size: 210px;
                }
            }
            .tragos-target2{
                background-size: 160px;
                &:hover {
                    background-size: 200px;
                }
            }
            .tragos-target3{
                background-size: 200px;
                &:hover {
                    background-size: 230px;
                }
            }
            .tragos-target1,.tragos-target4,.tragos-target6{
                background-size: 230px;
                &:hover {
                    background-size: 260px;
                }
            }
        }
    }




    .texto-sucursales{
        img{
            width: 90%;
        }
    }

    main {
        .nosotros-texto{
            img {
                width: 80%;
            }
        }
    }

    .nosotros-target1_container {
        flex-direction: column;
        .nosotros-target1_info {
            font-size: 16px;
            padding: 0;
            width: 90%;
        }
    }
    .nosotros-target2_container {
        flex-direction: column-reverse;
        .nosotros-target2_info {
            font-size: 16px;
            padding: 0;
            width: 90%;
        }
    }


}

@media screen and (max-width:300px) {
    .nav-bar_container {
        img {
            width: 80px;
            height: 80px;
        }
        a{
        font-size: 13px;
    }
    .nav-bar_redes{
        left: 0px;
        gap: 0px;
    }
}
    
    .burger-container {
        .burger-texto{
            img {
                width: 100%;
            }
        }
        .burger-target_container {
            width: 98%;
            .burger-target {
                width: 32%;
                height: 110px;
                margin: 20px 2px;
                min-width: 80px;
                .burger-target_info {
                    h1 {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .vegan {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 95%;
        font-size: 70%;
        padding: 2%;
        border: #fff solid 5px;
        i {
            font-size: 120%;
        }
    }

    .extras-container{
        width: 95%;
        margin-bottom: 20px;
        .extras-target {
            min-width: 90px;
            min-height: 70px;
            img {
                height: 80%;
                width: 100%;
            }
        }
    }

    .bebidas-container {
        .bebidas-target_container {
            .bebidas-target{
                img {
                    width: 90%;
                    height: 60%;
                }
            }
        }        
    }

    .tragos-container{
        .tragos-target_container {
            width: 98%;
            .tragos-target1, .tragos-target2,.tragos-target3, .tragos-target4, .tragos-target5, .tragos-target6 {
                width: 70px;
                height: 180px;
                min-width: 40px;
            }
            .tragos-target5{
                background-size: 140px;
                &:hover {
                    background-size: 170px;
                }
            }
            .tragos-target2{
                background-size: 120px;
                &:hover {
                    background-size: 160px;
                }
            }
            .tragos-target3{
                background-size: 170px;
                &:hover {
                    background-size: 200px;
                }
            }
            .tragos-target1,.tragos-target4,.tragos-target6{
                background-size: 190px;
                &:hover {
                    background-size: 220px;
                }
            }
        }
    }


    .sucursales-container {
        width: 100%;
        .sucursales-target_container{
            .sucursales-target {
                width:  80%;
                height: 20%;
                min-width: 50px;
            }
        }
    }

    .nosotros-target1_container {
        .nosotros-target1_info {
            font-size: 14px;
            width: 96%; 
        }
    }
        .nosotros-target2_container {
        .nosotros-target2_info {
            font-size: 14px;
            width: 96%; 
        }
    }


    footer {
        .footer-container{
            .footer{
                a {
                    font-size: 10px;
                }
            }
            .footer-info {
                a {
                    font-size: 14px;
                }
            }
    
        }
    }
}
